<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976184199307-3md0of0051mtfuin1vbr34nssgl8c0ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976184199307-3md0of0051mtfuin1vbr34nssgl8c0ol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976184199307-10jht4f8j3b1hj2jl4qhcflqm1t80u6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeAapH0KvBndQOPaQGuPNYrUgBqwEQKps</string>
	<key>GCM_SENDER_ID</key>
	<string>976184199307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFaceDemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-ml-demo-7895c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ml-demo-7895c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976184199307:ios:35fe066601b46510732c8e</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ml-demo-7895c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>